/* 
a {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
  }

  .btn:hover{
    color:white;
  }
  a:hover{
    color: black;
  }
  .btn {
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    cursor: pointer;
    line-height: 24px;
    border-radius: 24px;
    width: 190px;
  }

  .btn,
  strong {
    font-weight: 500;
  }

  .rounded
  {
      border: 2px solid white;
      border-radius: 50px 20px;
      color: white
  }
   */
  
   #mySidenav a {
    position: absolute;
   
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    border-radius: 0 5px 5px 0;
  }
  
  #mySidenav a:hover {
    left: 0;
  }
  
  #a {
    top: 100px;
    background-color: #4CAF50;
  }
  
  #b {
    top: 150px;
    background-color: #2196F3;
  }
  
  #c {
    top: 200px;
    background-color: #f44336;
  }
  
  #d {
    top: 250px;
    background-color: #555
  }
  #e {
    top: 300px;
    background-color: violet
  }