<!-- <section class="my-5 container">
  <div class="jumbotron" style="background-color: mediumspringgreen">
    <h1 class="text-center py-1" style="color: white">Welcome Admin</h1>
  </div>
</section> -->

<!-- <div id="mySidenav" class="sidenav">
  <a routerLink="/current-trainings-info" id="a">Current Trainings</a>
  <a routerLink="/completed-trainings-info" id="b">Completed Trainings</a>
  <a routerLink="/all-payments" id="c">Payments</a>
  <a routerLink="/add-block-user-mentor" id="d">Block</a>
  <a routerLink="/add-remove-technology" id="e">Technology</a>
  
 
</div> -->

